.ExecNav{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: #C0CECF;
}

button{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #C0CECF;
    color: black;
    border:none;
    outline: none;
}
h3{
    margin-left: 40px;
}
.ExecWrapper {
    display: flex;
    box-sizing: border-box;
}