#execs-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left:40px;
    margin: 20px 20px;
    width: 175%;
  
  }
  
#execs-table tr, #execs-table th{
    padding-top:30px;
    padding-bottom: 30px;
    box-shadow: 2px 3px 3px black;
    /* border: 10px solid #F6F7FB; */
    height: 50px;
    margin-left: 0px;
    font-size: 16px;
  }

  td{
  margin-left: 40px;
  }

  #execs-table tr:nth-child(even) {
    background-color: #F6F7FB;
    
  } 
  .inDele{
    background-color: darkgrey;
    padding: 2px;
    width:40px;
    text-align: center;
    border-radius: 50%;
  }


