input {
    width:200px;
    height:20px;
    margin: 25px;
}

select {
    height:25px;
}

.qty-input {
    width:100px;
}

.create{
    padding: 15px;
    margin-left:200px;
    background-color: white;
}
.inp{
    padding: 15px;
    margin-left: 0px;
}
.remove-row-btn {
    background-color: #1C584E;
    color: white;
    font-weight:800;
    border-radius: 20px;
    padding:15px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left:00px;
     margin-right: 0;
     margin-top:20px; 
    /* margin: 20px auto;
   
    /* width: 85%; */
  
  }
  
  
tr, th{
    /* padding-top:30px;
    padding-bottom: 30px; */
    box-shadow: 2px 3px 3px black;
    border: 10px solid #F6F7FB;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    
  }

  td {
      padding:0;
  }


.order-btn {
    width:150px;
    height: 40px;
    padding: 2px;
    border-radius: 4px;
    margin-left: 70px;
}
p{
    font-size: 24px;
}